<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Start Page</title>
</head>
<body>
<h1>Welcome to start page</h1>
<br/>
<br/>
<table>
    <form action="/login">
        <button type="submit">Login</button>
    </form>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>
    <form action="/user">
        <button type="submit">UserInfo</button>
    </form>
</table>
</body>
</html>